.module-container {
    width: 90%;
    margin: auto;
}

.search-container {
    display: flex;
}

#search {
    margin-top: 3px;
    margin-right: 10px;
}

#dob-filter {
    margin-right: 10px;
}

#ssn-filter {
    margin-right: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.practice-staff-header {
    margin: 0px;
    position: relative;
}

.practice-staff-header img {
    width: 415px;
    padding-top: 10px;
    padding-left: 10px;
}

.practice-pic {
    top: 0;
}

.practice-pic img {
    margin-top: 160px;
    width: 100%;
    border-radius: 50%;
}

.practice-name {
    width: 330px;
}

.table-container {
    width: 100%;
    margin: auto;
    margin-top: 15px;
}